@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

button *, button:focus *
{
  background: transparent !important;
  background-image: none !important;
  border: 0 !important;
  box-shadow: none !important;
}

#zotero-items-tree treechildren::-moz-tree-image(hasPubPeerComments)
{
  margin: 1px 5px 0;
  list-style-image: url(chrome://zotero-pubpeer/skin/pubpeer.png);
  height: 16px;
}
#zotero-items-tree treechildren::-moz-tree-image(PubPeerLoading)
{
  margin: 1px 5px 0;
  list-style-image: url(chrome://zotero-pubpeer/skin/loading.png);
  height: 16px;
}

.pubpeer-checkbox {
  font-size: large;
}

.pubpeer-checkbox:hover {
  outline-width: 1px;
  outline-color: black;
  outline-style: outset;
}
.pubpeer-checkbox:active {
  outline-width: 1px;
  outline-color: black;
  outline-style: inset;
}

.pubpeer-user-priority .pubpeer-username {
  background-color: #005049;
  color: white;
}
.pubpeer-user-muted .pubpeer-username {
  color: grey;
}
