#zotero-items-tree treechildren::-moz-tree-image(hasPubPeerComments)
{
  margin: 1px 5px 0;
  list-style-image: url(chrome://zotero-pubpeer/skin/pubpeer.png);
  height: 16px;
}
#zotero-items-tree treechildren::-moz-tree-image(PubPeerLoading)
{
  margin: 1px 5px 0;
  list-style-image: url(chrome://zotero-pubpeer/skin/loading.png);
  height: 16px;
}
